html {
    overflow-y: scroll !important;
}

body {
    padding-top: 100px;
}
.glyphicon.glyphicon-repeat {
    font-size: 21px;
    top: 7px;
    left: 5px;
}

#infotext {
    padding-top: 0;
    padding-bottom: 0;
}

#infotext > div {
    padding-top: 48px;
    padding-bottom: 48px;
}

.salute {
    margin-top: 0;
    padding: 15px;
}

.navbar-brand {
    padding-top: 8px;
    padding-bottom: 0;
}

footer {
    padding-top: 15px;
    margin-bottom: 50px;
}

.gamemode select {
    width: 250px;
}

.gamemode input[type="submit"] {
    width: 75px;
}

fieldset {
    margin-bottom: 10px;
}

.statusbar {
    margin-top: 15px;
    text-align: center;
    padding: 10px 5px;
}

.statusbar h2 {
    color: #FFF;
    margin: 0;
}

.level1 {
    padding: 15px 0;
}

button[aria-expanded="false"] .glyphicon {
    transition: transform 0.5s;
    transform: rotate(0deg);
}

button[aria-expanded="true"] .glyphicon {
    transition: transform 0.5s;
    transform: rotate(180deg);
}