table.tic td {
    border: 1px solid #333; /* grey cell borders */
    width: 8rem;
    height: 8rem;
    vertical-align: middle;
    text-align: center;
    font-size: 4rem;
    font-family: Arial, sans-serif;
}

table {
    margin-bottom: 2rem;
}

input.field {
    border: 0;
    background-color: white;
    color: white; /* make the value invisible (white) */
    height: 8rem;
    width: 8rem !important;
    font-family: Arial, sans-serif;
    font-size: 4rem;
    font-weight: normal;
    cursor: pointer;
}

input.field:hover {
    border: 0;
    color: #c81657; /* red on hover */
}

/* X is light red */
.colorX {
    color: #e77 !important;
}

/* O is light blue */
.colorO {
    color: #77e !important;
}

table.tic {
    border-collapse: collapse;
}

.glyphicon.glyphicon-repeat {
    font-size: 21px;
    top: 7px;
    left: 5px;
}

select.form-control {
    width: 15.6%;
}
